.blog-page-section {
    margin-top: 165px;
}

.blog-section-title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    letter-spacing: normal;
    text-align: left;
}

.blog-section-description {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
}

.blog-page-section .category {
    font-weight: bold;
}

.blog-page-section .date-published {
    font-family: 'Bodoni 72', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: left;
}
.blog-single-content{
    margin-bottom: 273px;
}