
.lead-section-title {
    font-family: 'Bodoni 72 Book', serif;
    font-size: 60px;
    line-height: 84px;
    letter-spacing: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px; 
}

.btn {
    font-family: 'Lato Regular', sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF; 
    padding: 10px 20px; 
    margin-top: 32px; 
}


