
$navbar-toggler-bg: $primary;

header {
    .navbar-toggler {
        span {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            background-color: #ECD9D9;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .navbar-nav {
        a {
            font-size: 1.4rem;
            line-height: 1.7rem;
            padding: 10px;
            text-align: center;
        }

        .nav-item {
            position: relative; 
        }

        
    }

    @media (min-width: 768px) {
        .navbar-nav {
            li {
                margin-left: 30px;
            }
        }
    }

    @media (min-width: 1200px) {
        .navbar-nav {
            li {
                margin-left: 51px;
            }
        }
    }
}

.navbar-brand img {
    height: 25px; 
    width: 196px;
}
.nav-item.active .nav-link,
         .nav-item:hover .nav-link {
            border-bottom: 1px solid #ECD9D9; 
        }
