
.lead-page-section{
    

padding-top: 218px;
padding-bottom: 269px;
color: #fff;
text-align: center;
background-position: center;
background-size: auto 100%;
background-repeat: no repeat;
margin-bottom: 75px;


      
}

.lead-page-section .lead-section-title{
    letter-spacing: 20px;
    font-size: 60px;
    line-height: 84px;
    font-family: 'Bodoni-72-Book';
    text-decoration: none;
}

