


h2 {
    margin-bottom: 25px; 
    font-size: 44px; 
    line-height: 50px; 
    letter-spacing: normal; 
    text-align: left; 
}
p {
    font-size: 18px; 
    line-height: 26px; 
    letter-spacing: normal;
    text-align: left; 
}
.service-single {
    margin-top: 181px;
    margin-bottom: 178px;
}

.copyright p {
    font-size: 12px;
    line-height: 41px;
    letter-spacing: -0.17px;
    text-align: center;
    margin-bottom: 25px;
}
