


.article {
    overflow: hidden;
    padding-bottom: 60px;
}


.carousel-navigation {
    margin-top: 20px;
    text-align: center;
}

.carousel-navigation a,
.carousel-navigation .page {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333; 
    text-decoration: none;
}

.carousel-navigation a:hover,
.carousel-navigation .page:hover {
    color: #555; 
}
.carousel-navigation .page {
    font-size: 16px;
    font-family: "Bodoni-72-Book", sans-serif;
    margin-top: 8px;
}

