.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    
}
.services-p{
    font-size: 36px;
    text-decoration: none;
     margin-bottom: 20px;
    text-transform: uppercase;
    
    line-height: 44px;
    color: #1E1E1E;
    font-family: "Lato", sans-serif;
    transition: transform 0.5s ease; 
    
}
.services-h{
    padding-bottom: 58px;
    font-family: 'Bodoni-72-Book';
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 5px;
}
.service h2, .service .btn {
    width: 80%; 
    margin: 0 auto; 
}



.service .btn {
    border: 1px solid #1E1E1E;
    background-color: transparent;
    color: #1E1E1E;
    padding: 10px 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
     width: 166px;
    height: 45px;
    margin: 0 auto
}


.service:hover h2 {
    transform: translateY(-10px);
}


.service:hover .btn {
    opacity: 0.7; 
    transform: scale(1.1); 
}

